<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar (click)="selectImageSource()" class="profile-pic">
    <ion-img [src]="(myStoredProfileImage | async)?.image_src"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ionic Developer</ion-card-subtitle>
      <ion-card-title>Ali Zar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Developer of the slowest framework for mobile app development.
    </ion-card-content>
  </ion-card>

  <div class="ion-margin-horizontal">
    <ion-button shape="round" expand="block" color="medium" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
